!!!
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- see readme -->
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title Hello
    %meta(name="description" content="")
    %meta(name="viewport" content="width=device-width")
    %link(rel="stylesheet" href="styles/main.css")

  %body(ng-app="exampleApp")
    <!--[if lt IE 7]>
    %p.chromeframe
      You are using an outdated browser.
      %a(href="http://browsehappy.com/") Upgrade your browser today
      or
      %a(href="http://www.google.com/chromeframe/?redirect=true") install Google Chrome Frame
      to better experience this site.
    <![endif]-->

    .container(ng-view="see-readme")

    %script(src="scripts/vendor/angular.js")

    <!-- build:js scripts/scripts.js -->
    %script(src="scripts/example.js")
    %script(src="scripts/controllers/main.js")
    <!-- endbuild -->

    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
